.sidebar-box{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-bottom: 1px solid #9f9f9f;
}
.sidebar-container {
  height: 100vh;
  width: 220px;

}
.hamburger{
  display: none;}


.sidebar.visible {
  display: block;
}





@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .sidebar-header{
    display: none;
  }
  .sidebar-container {
    display: none;
  }
  .sidebar-container.visible {
    display: block;
    position: absolute;
    z-index: 100;
    top: 100px;

  }
  .sidebar-header {
    display: none;
  }
  }

